<%- include('./partials/header') %>

<div class="ui center aligned grid">
    <form class="search-bar" action="/inventory/results" method="GET">
        <div class="ui search">
            <input type="text" name="name" class="prompt" placeholder="Search...">
        </div>
    </form>
</div>

<div class="ui main text container">
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% foundWines.forEach(function(Wine) { %>
                <div class="item">
                    <div class="content">
                        <%= Wine.name %> 
                    </div>
                    <div class="description">
                        Rating
                        <%= Wine.rating %>
                    </div>
                    <a class='ui floated basic violet button' href="/inventory/<%= Wine._id %> ">
                        More...
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>